<div class="chatGrid">
  <div>Hello {{this.user.GetUserName()}} </div>

  <div class="massageBlock">

    <div class="info"></div>
    <div class="inputZone" style="background: chartreuse">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>MassageInput</mat-label>
          <input matInput id="Input"  #Input placeholder="write something">
        </mat-form-field>
      </form>
      <button mat-button (click)="SendMassage(Input.value)">Send</button>
    </div>


    <!--   צריך לעשות כך שדיב יראה במצורה אחרת את הקונטנט-->

  </div>
  <div class="infoBlock" id="massageBlock" style="background: aqua">
    <div id="chatBlock">
      <div class="message"></div>


    </div>
  </div>
</div>
