<div class="chatGrid">

  <div class="info">
    <div class="imageInfo"></div>
    <div class="groupInfo"></div>
  </div>


  <div id="chatBlock" class="messagesArea">

    <!--=========================-->
    <!--    Concept-->
    <!--=========================-->


    <!--    <div id="messageBlock" class="messageBlock">-->

    <!--      <div class="personNameBlock">-->
    <!--        <p class="messageValue">Daniel</p>-->
    <!--      </div>-->
    <!--      <div class="message">-->
    <!--        <p id="MessageText" class="messageValue">im fine-->
    <!--          sdjjjjjjjjjjjjjjjjjjjjjjjjjjj/njjjjjjjjjjj-->
    <!--          jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
    <!--          jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj-->
    <!--          lasjd'alsdjhyfvgklgvylokuyfuyfluyfa</p>-->
    <!--      </div>-->
    <!--      <div class="sendTime">-->
    <!--        <p id="time" class="messageValue"></p>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>

  <div class="messageInput">

    <mat-form-field class="inputFill" floatLabel="never" appearance="outline">
      <mat-label>Massage</mat-label>
      <input id="input" matInput [(ngModel)]="messageInput">
    </mat-form-field>


    <button mat-raised-button class="buttons"  (click)="SendMassage(messageInput)">Send</button>

  </div>


</div>
